@import '../styles';

// Social Sharing addthis

.addthis_inline_share_toolbox {
    position: fixed;
    bottom: $spacing_base;
    right: $spacing_base;
    z-index: 1000;
    mix-blend-mode: color-burn;
}

.at-share-btn-elements {

}
.at-icon-wrapper {

}
.at-share-btn {

} 
.at-svc-facebook {

}